<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <style>
        /* <%# injection du CSS backend %> */
        <%- styles %>
    </style>
</head>
<body>
    <!-- Le HTML de votre composant React sera injecté ici -->
    <%- reportHtml %> 
</body>
</html>
