<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <style></style>
        <title>Facture <%= facture.numero_facture %></title>
        /* <%# injection du CSS backend %> */    
    <%- styles %></style>
    </head>
<body>
    <!-- Le HTML du rapport généré par React sera injecté ici -->
    <%- reportHtml %> 
</body>
</html>